body {
  background: #313431;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 200;
  margin: 10px 50px;
  padding: 0;
  color: white;
}
a:link,
a:visited {
  color: #49B0EC;
}
h1,
h2 {
  color: white;
  font-weight: 100;
}
.LifeTimeline {
  display: block;
}
.LifeTimeline > .week {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px;
  padding: 0;
  opacity: 0.5;
  background: #555;
  transition: .4s linear opacity;
  position: relative;
}
.LifeTimeline > .week.future {
  opacity: 0.2;
}
.LifeTimeline > .week > .singleEvents {
  left: 4px;
  top: 4px;
  border-radius: 3.5px;
  width: 7px;
  height: 7px;
  background: #303030;
  position: absolute;
}
.LifeTimeline > .week:hover {
  opacity: 1.0;
}
.footer {
  margin-top: 50px;
  font-size: 0.8em;
}
